@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}

html {
  font-size: 62.5%; //62.5% of 16px = 10px
}

body { 
  .dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 280px 1fr;
    grid-template-rows: 80px 1fr;

    .icon-panel {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      background-color: white; 
      display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
      align-items: center; 
      color:#40506f;

      .heading-logo-container{ 
        display: grid; 
        place-items: center;
        width: 100%; 
        height: 80px;
        border-bottom: 1px solid rgb(214, 214, 214);
        
        .main-icon {  
          font-size: 3rem; 
        } 
      }

      .middle-icons { 
        display: flex; 
        flex-direction: column; 
        font-size: 2.2rem; 
        
        span{ 
          display: grid;
          place-items: center;
          width: 80px; 
          text-align: center;  
          height: 80px;
          
          &:nth-child(1) {
            background-color: #F4F7FF;
            color: $primary-blue;
          }
        }
      } 

      .trailing-logo-container { 
        display: grid; 
        place-items: center;
        width: 100%; 
        height: 80px;
        border-top: 1px solid rgb(214, 214, 214);
        
        .trailing-icon {
          font-size: 3rem; 
        } 
      }
    }

    .inbox {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      background-color: #F4F7FF; 
      display: flex;
      flex-direction: column;
      align-items: stretch;

      h1 {  
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80px;
        padding: 2rem;  
        font-size: 2rem;
        border-bottom: 1px solid rgb(214, 214, 214);
      } 

      .task-overview { 
        .list-header { 
          display: flex; 
          justify-content: space-between; 
          padding: 2rem 2rem;  
          align-items: center;

          button { 
            background-color: #FFB800; 
            border: none; 
            border-radius: 36px; 
            padding: 0.6rem 1.5rem;
            font-weight: 600; 
            font-size: 1.2rem;
          } 

          span { 
            font-size: 1.3rem;
            color: $primary-blue;
            font-weight: 500;

            b {
              color: black;
            }
          } 
        } 

        .list-view { 
          

          .list-item { 
            padding: 2rem; 
            display: flex; 
            justify-content: space-between; 
            align-items: center; 
            border-bottom: 1px solid #9dbbf04e;

            &:last-child {
              border: none;
            }

            .text-container{ 
              .title { 
                font-size: 1.2rem; 
                font-weight: 700; 
                margin-bottom: 0.2rem;
              } 

              .subtitle { 
                font-size: 1.2rem; 
                color: #536585;
                font-weight: 500;
              } 
            } 

            .icon-container { 
              height: 2.2rem; 
              width: 2.2rem; 
              border-radius: 50%; 
              background-color: #d3ddff;
              display: grid; 
              place-items: center;

              span {
                margin-left: 0.2rem;
                margin-bottom: 0.1rem;
                color: $primary-blue;
                font-size: 1.4rem;
                font-weight: bold;
              }
            }
          }
        } 
      } 

      .new-project__button {  
        margin: 1rem auto;
        width: 72%;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-blue;
        border: none;
        border-radius: 0.4rem;
        color: white;
        box-shadow: 8px 8px 16px rgba($color: $primary-blue, $alpha: 0.35);

        .leading-icon {
          font-weight: 600;
          font-size: 1.8rem;
        }

        .title {
          margin-right: 1.2rem;
          font-size: 1.2rem;
        }

        .trailing-icon {

        }
      }
    }

    .header {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
      background-color: rgb(217, 66, 255);
    }

    .details {
      grid-column: 3 / -1;
      grid-row: 2 / -1;
      background-color: rgb(255, 130, 58);
    }
  }
}
