@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  .dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 250px 1fr;
    grid-template-rows: 80px 1fr;

    .icon-panel {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      background-color: rgb(255, 79, 79);
    }

    .inbox {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      background-color: rgb(61, 120, 255);
    }

    .header {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
      background-color: rgb(217, 66, 255);
    }

    .details {
      grid-column: 3 / -1;
      grid-row: 2 / -1;
      background-color: rgb(255, 130, 58);
    }
  }
}
