@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body .dashboard {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 280px 1fr;
      grid-template-columns: 80px 280px 1fr;
  -ms-grid-rows: 80px 1fr;
      grid-template-rows: 80px 1fr;
}

body .dashboard .icon-panel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #40506f;
}

body .dashboard .icon-panel .heading-logo-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #d6d6d6;
}

body .dashboard .icon-panel .heading-logo-container .main-icon {
  font-size: 3rem;
}

body .dashboard .icon-panel .middle-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.2rem;
}

body .dashboard .icon-panel .middle-icons span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 80px;
  text-align: center;
  height: 80px;
}

body .dashboard .icon-panel .middle-icons span:nth-child(1) {
  background-color: #F4F7FF;
  color: #0E5DF7;
}

body .dashboard .icon-panel .trailing-logo-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid #d6d6d6;
}

body .dashboard .icon-panel .trailing-logo-container .trailing-icon {
  font-size: 3rem;
}

body .dashboard .inbox {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: #F4F7FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body .dashboard .inbox h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid #d6d6d6;
}

body .dashboard .inbox .task-overview .list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .dashboard .inbox .task-overview .list-header button {
  background-color: #FFB800;
  border: none;
  border-radius: 36px;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

body .dashboard .inbox .task-overview .list-header span {
  font-size: 1.3rem;
  color: #0E5DF7;
  font-weight: 500;
}

body .dashboard .inbox .task-overview .list-header span b {
  color: black;
}

body .dashboard .inbox .task-overview .list-view .list-item {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #9dbbf04e;
}

body .dashboard .inbox .task-overview .list-view .list-item:last-child {
  border: none;
}

body .dashboard .inbox .task-overview .list-view .list-item .text-container .title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

body .dashboard .inbox .task-overview .list-view .list-item .text-container .subtitle {
  font-size: 1.2rem;
  color: #536585;
  font-weight: 500;
}

body .dashboard .inbox .task-overview .list-view .list-item .icon-container {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background-color: #d3ddff;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .dashboard .inbox .task-overview .list-view .list-item .icon-container span {
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;
  color: #0E5DF7;
  font-size: 1.4rem;
  font-weight: bold;
}

body .dashboard .inbox .new-project__button {
  margin: 1rem auto;
  width: 72%;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0E5DF7;
  border: none;
  border-radius: 0.4rem;
  color: white;
  -webkit-box-shadow: 8px 8px 16px rgba(14, 93, 247, 0.35);
          box-shadow: 8px 8px 16px rgba(14, 93, 247, 0.35);
}

body .dashboard .inbox .new-project__button .leading-icon {
  font-weight: 600;
  font-size: 1.8rem;
}

body .dashboard .inbox .new-project__button .title {
  margin-right: 1.2rem;
  font-size: 1.2rem;
}

body .dashboard .header {
  grid-column: 3 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-color: #d942ff;
}

body .dashboard .details {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  background-color: #ff823a;
}
/*# sourceMappingURL=main.css.map */