@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body { 
  .dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 250px 1fr;
    grid-template-rows: 80px 1fr;

    .icon-panel {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      background-color: white; 
      display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
      align-items: center; 
      color:#001847;

      .heading-logo-container{ 
        display: grid; 
        place-items: center;
        width: 100%; 
        height: 80px;
        border-bottom: 1px solid rgb(214, 214, 214);
        
        .main-icon {  
          font-size: 3rem; 
        } 
      }

      .middle-icons { 
        display: flex; 
        flex-direction: column; 
        font-size: 2.5rem; 
        
        span{ 
          display: grid;
          place-items: center;
          width: 80px; 
          text-align: center;  
          height: 80px;
          
          &:nth-child(1) {
            background-color: #F4F7FF;
            color: $primary-blue;
          }
        }
      } 

      .trailing-logo-container { 
        display: grid; 
        place-items: center;
        width: 100%; 
        height: 80px;
        border-top: 1px solid rgb(214, 214, 214);
        
        .trailing-icon {
          font-size: 3rem; 
        } 
      }
    }

    .inbox {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      background-color: #F4F7FF;
    }

    .header {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
      background-color: rgb(217, 66, 255);
    }

    .details {
      grid-column: 3 / -1;
      grid-row: 2 / -1;
      background-color: rgb(255, 130, 58);
    }
  }
}
